/*
Theme Name:     bootstrap-basic-child
Description:    rowling - Ultimate Charity/Donations WordPress Theme
Author:         ThemeSLR
Template:       bootstrap-basic

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/

/******
****Custom css
******/
@import url( '../bootstrap-basic/style.css' );

@font-face {
	font-family: 'Conv_Beautiful Heartbeat';
	src: url('fonts/Beautiful Heartbeat.eot');
	src: url('fonts/Beautiful Heartbeat.woff') format('woff'), 
		 url('fonts/Beautiful Heartbeat.ttf') format('truetype'), 
		 url('fonts/Beautiful Heartbeat.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Gotham Bold Regular';
	src: url('fonts/Gotham Bold Regular.eot');
	src: url('fonts/Gotham Bold Regular.woff') format('woff'), 
		 url('fonts/Gotham Bold Regular.ttf') format('truetype'), 
		 url('fonts/Gotham Bold Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'Conv_Gotham Bold Regular';
	overflow-x: hidden;
}
.nf-form-fields-required {
    display: none;
}

.label-right .nf-field-label {
    display: inline-block;
}
header.top-header {
    background: #65af83;
    padding: 0px;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
}
/*.entry-content {
    padding-top: 80px;
}*/
.row.site-branding {
    display: none;
}
header.top-header nav.navbar.navbar-default {
    background: transparent;
    border: none;
    box-shadow: none;
    text-align: center;
    margin-bottom: 0;
}
header.top-header ul.navbar-nav{
	float: none;
	text-align: center;
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;    
        height: 81px;
}
header.top-header ul.navbar-nav li{
	float: none;
	display: inline-block;
/*    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;*/
    margin: 0 auto;
    padding: 0 30px;
}
header.top-header ul.navbar-nav li a {
    padding:0;
    font-weight: 300;
    font-family: 'Conv_Gotham Bold Regular';
    font-size: 17px;
    text-shadow: none;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
}
header.top-header ul.navbar-nav li.active a , header.top-header ul.navbar-nav li.active a:hover
,header.top-header ul.navbar-nav li.active a:active ,header.top-header ul.navbar-nav li.active a:focus{
	color: #f7f160;
	background: transparent;
	box-shadow: none;
}
header.top-header .navbar-default .navbar-nav>li>a:focus,
header.top-header .navbar-default .navbar-nav>li>a:hover {
    color: #f7f160;
    background-color: transparent;
}
.header-social ul{
    margin: 28px 3px;
	padding: 0;
}
.header-social ul li{
	display: inline-block;
    padding: 0 3px;
}
.header-social ul li a {
    display: inline-block;
}
.header-social ul li a i {
    width: 25px;
    line-height: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid #0a0a0a;
    color: #000;
    font-size: 14px;
    border-radius: 50%;
}
.header-social ul li a:hover i{
	background: #000;
	color: #fff;
}
header.entry-header {
    display: none;
    border-bottom: 0;
}
#main-column .post, #main-column .page{
	padding-top: 0px;
}
#main-column .post, #main-column .page {
    border: none;
    margin-bottom: 0;
    padding: 0;
}
.row-with-vspace{
	margin-bottom: 0px;
}
table.nf-table-display , table.nf-table-display tbody, table.nf-table-display tbody tr, 
table.nf-table-display tbody tr td , table.nf-table-display tbody th{
	display: block;
}  
table.nf-table-display input , table.nf-table-display textarea{
	background: transparent;
	border:1px solid #ccc;
	padding:8px 12px; 
    font-family: 'Conv_Gotham Bold Regular';
}
table.nf-table-display textarea{
	resize: none;
	height: 150px;
}
table.nf-table-display input::-webkit-input-placeholder , 
table.nf-table-display textarea::-webkit-input-placeholder { 
  color: #ccc;
  font-size: 12px;
}
table.nf-table-display input::-moz-placeholder , 
table.nf-table-display textarea::-moz-placeholder { 
  color: #ccc;
  font-size: 12px;
}
table.nf-table-display input:-ms-input-placeholder , 
table.nf-table-display textarea:-ms-input-placeholder { 
  color: #ccc;
  font-size: 12px;
}
table.nf-table-display input:-moz-placeholder , 
table.nf-table-display textarea:-moz-placeholder {
  color: #ccc;
  font-size: 12px;
}
div#vccs-carousel ul {
    width: 100%;
}
body #vccs-carousel .carousel>ul>li>img {
    width: 80%;
    vertical-align: middle;
    margin: 0;
    object-fit: cover;
    margin-bottom: 10px;
}
body #vccs-carousel a.next{
	left: 50%;
	margin-left: -13px;
	top: -27px;
    text-indent: 0px;
    border-radius: 0px 5px 5px 0px;
    font-size: 0px;
    background:url(assets/img/up-arrow.png), transparent;
    background-repeat: no-repeat;
    background-position: center;
        transform: inherit;
}
body #vccs-carousel a.prev:hover, body #vccs-carousel a.next:hover,
body #vccs-carousel a.go:hover{
    background-color: transparent;
}
body #vccs-carousel a.prev {
    left: 50%;
    margin-left: -13px;
    bottom: -27px;
    text-indent: 0px;
    border-radius: 5px 0px 0px 5px;
    font-size: 0px;
    background:url(assets/img/down-arrow.png), transparent;
    background-repeat: no-repeat;
    background-position: center;
        transform: inherit;
}
.clear {
    clear: both;
}
.tparrows.tp-leftarrow:before {
    background: url(assets/img/left-arrow.png) , transparent;
    font-size: 0px !important;
    background-repeat: no-repeat;
    background-position: 20px;
}
.tparrows.tp-rightarrow:before{
    background: url(assets/img/right-arrow.png) , transparent;
    font-size: 0px !important;
    background-repeat: no-repeat;
    background-position: 20px;
}
.logo {
    margin: 17px 0;
}
body.page-id-13 .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated{
    padding: 0 10px;
}
body #vccs-carousel .carousel{
    padding-left: 0px;
}

/*body #vccs-carousel .carousel ul li img{
    height: 100%;
}*/

body #vccs-carousel .carousel{
    height: 520px !important;
    border:none !important;
    width: 100%;
}
body #vccs-carousel .carousel ul li {
    height: 260px !important;
    width: 100% !important;
    padding-bottom: 55px;
    background: #faf8bb;
    color: #fdda01;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 1px;
    position: relative;
}
body #vccs-carousel .carousel ul li img{
    height: 100%;
}
.displ-flex {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: rgba(251,251,251,0.5);
    z-index: 0;
    opacity: 0.5;
}
.displ-flex:hover{
    opacity: 0.9;
}
.hover-icon {
    background: transparent;
    color: #0a8447;
    width: 112px;
    height: 112px;
    background: url(assets/img/play.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: -45px;
    position: relative;
    z-index: 99;
}
.title {
    background: #088446;
    color: #f5ee45;
    z-index: 99999;
    position: relative;
    padding: 8px 12px;
    top: -10px;
}
.page-id-35 .nf-form-content input[type=text], 
.page-id-35 .nf-form-content input[type=email]{
    padding: 2px 10px;
    color: #484747;
    border: 1px solid #fff;
    border-radius: 0;
    height: 28px;
    background: #fff;
    font-size: 12px;
    width: 200px;
    margin: 0 auto;
     text-align: center;
}
.page-id-35 .nf-form-content input[type="button"] {
    background: transparent;
    color: #ffe958;
    border: 1px solid #ffe539;
    padding: 2px 25px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 24px;
    text-align: center;
}
.page-id-35 .nf-form-content .nf-field{
    text-align: center;
}
.page-id-35 .nf-form-content .nf-field-container{
    margin-bottom: 15px;
}


.page-id-35 .nf-form-content input::-webkit-input-placeholder{  
  color: #bbbbbb;
  font-weight: 600;
  font-size: 12px;
}
.page-id-35 .nf-form-content input::-moz-placeholder { 
  color: #bbbbbb;
  font-weight: 600;
  font-size: 12px;
}
.page-id-35 .nf-form-content input:-ms-input-placeholder { 
  color: #bbbbbb;
  font-weight: 600;
  font-size: 12px;
}
.page-id-35 .nf-form-content input:-moz-placeholder { 
  color: #bbbbbb;
  font-weight: 600;
  font-size: 12px;
}
span.toggle-content {
    display: none;
}



.home .nf-form-content input[type=text], 
.home .nf-form-content input[type=email] {
    padding: 2px 10px;
    color: #b3afaf;
    border: 1px solid #fff;
    border-radius: 0;
    height: 28px;
    background: #fff;
    font-size: 12px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
}
.home .nf-form-content input[type="button"] {
    background: transparent;
    color: #ffe958;
    border: 1px solid #ffe539;
    padding: 2px 25px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 24px;
    text-align: center;
}
.home .nf-form-content .nf-field{
    text-align: center;
}
.home .nf-form-content .nf-field-container{
    margin-bottom: 15px;
}
.home .nf-form-content .date-container.label-above .nf-field-label{
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 15px;
    letter-spacing: 1px;
}
.home .nf-form-content .checkbox-container .nf-field-label{
    white-space: nowrap;
}
.home .nf-form-content .checkbox-container .nf-field{
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -moz-display: flex;
}
.home .nf-form-content .checkbox-container .field-wrap.checkbox-wrap{
    margin: 0 auto;
}

.home .nf-form-content input::-webkit-input-placeholder{  
  color: #bbbbbb;
  font-weight: 600;
  font-size: 12px;
}
.home .nf-form-content input::-moz-placeholder { 
  color: #bbbbbb;
  font-weight: 600;
  font-size: 12px;
}
.home .nf-form-content input:-ms-input-placeholder { 
  color: #bbbbbb;
  font-weight: 600;
  font-size: 12px;
}
.home .nf-form-content input:-moz-placeholder { 
  color: #bbbbbb;
  font-weight: 600;
  font-size: 12px;
}
.nf-error-msg {
    text-align: center;
}
.nf-response-msg , .nf-form-layout{
    text-align: center;
}
span.ninja-forms-req-symbol {
    display: none;
}
.home .nf-field-label label{
    font-weight: normal;
}
.site-loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #118440;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.loader {
    margin: 0 auto;
  border:5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #000;
  width: 50px;
  height: 50px;
  z-index: 999;
  position: relative;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
body #vccs-carousel .carousel>ul>li> a >img {
    width: 70%;
    height: 100%;
    vertical-align: middle;
    margin: 8px 0 18px;
    border-radius: 0px;
    object-fit: cover;
}
.nf-response-msg {
    color: #fff;
}
.tp-mask-wrap a{
    text-shadow: 0px 2px 3px #00a94f;
}
.elementor-text-editor.elementor-clearfix p , .elementor-widget-image .widget-image-caption{
    font-family: 'Conv_Gotham Bold Regular' !important;
}
.wraylists-text h2{
    font-family: 'Conv_Beautiful Heartbeat' !important;
}
.font-style h2{
    font-family: 'Conv_Beautiful Heartbeat' !important;
}
.tp-mask-wrap a {
    font-family: 'Conv_Beautiful Heartbeat' !important;
    letter-spacing: 1px !important;
    font-size: 45px !important;
}
a.read-more-btn {
    font-family: 'Conv_Gotham Bold Regular' !important;
    font-size: 14px;
}
h4.pull-right {
    display: block;
    width: 100%;
    text-align: right;
    font-family: 'Conv_Gotham Bold Regular' !important;
    margin-bottom: 0px;
}
a.back {
    font-size: 14px;
}
.news-sec-back{
    padding: 120px 0 0;
    background: #faf8bb;
}
.news-post-list {
    text-align: center;
}
.news-post-list img{
    margin-bottom: 15px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.news-post-list:hover img{
    transform: scale(1.1,1.1);
}
.news-post-list{
    margin-bottom:20px;
}
.news-post-list h3 {
    font-family: 'Conv_Gotham Bold Regular';
    font-size: 16px;
    letter-spacing: 0px;
    margin-top: 5px;
}
.news-post-list h3 a{
    color: #404040;
}
.news-post-list h3 a:hover{
    text-decoration: none;
}
@media screen and (max-width: 1280px){
   header.top-header ul.navbar-nav li{
        flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        -o-flex: 1;
        padding:0px;
    } 
}
@media screen and (max-width: 1199px){
    header.top-header ul.navbar-nav li a{
       font-size: 14px;
    }
}
@media screen and (max-width: 1024px){
    header.top-header ul.navbar-nav li a {
        font-size: 10px;
    }
}
@media screen and (max-width: 991px){
    .header-social ul li a i {
        width: 22px;
        line-height: 22px;
        height: 22px;
        font-size: 12px;
    }
    .header-social ul li {
        padding: 0 1px;
    }
}
@media screen and (max-width: 768px){
    body #vccs-carousel .carousel {
        height: 465px !important;
        border: none !important;
    }
}
@media screen and (max-width: 767px){
    .navbar-header button.navbar-toggle ,.navbar-header button.navbar-toggle:active,
    .navbar-header button.navbar-toggle:focus{
        background-color: #000;
        border-color: #000;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .logo {
        margin: 7px 0;
    }
    header.top-header ul.navbar-nav {
        display: block;
        margin: 0;
        position: relative;
        border-top: none;
        height: auto;
    }
    header.top-header .navbar-collapse {
        border-top: none;
        box-shadow: none;
        display: none;
        padding: 0;
        padding-top: 30px;
    }
    header.top-header .navbar-collapse.in{
        margin-left: 0px;
    }
    .navbar-collapse {
        width: 250px;
        background: #000;
        color: #fff;
        position: fixed;
        z-index: 9999999;
        top: 0;
        left: 0;
        height: 100%;
        padding-top: 30px;
        margin-left: -350px;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }

   header.top-header ul.navbar-nav li {
        flex: inherit;
        -webkit-flex: inherit;
        -moz-flex: inherit;
        -ms-flex: inherit;
        -o-flex: inherit;
        display: block;
        text-align: left;
    }
    header.top-header ul.navbar-nav li a {
        font-size: 12px;
        color: #fff;
        padding: 8px 12px;
    }
    .navbar-header {
        margin: 5px 0px;
    }
    .header-social ul {
        margin: 0px 12px 12px;
        padding: 0;
        text-align: left;
    }
    .header-social ul li a i {
        color: #fff;
        border-color: #fff;
    }
    .navbar-toggle{
        margin-right: 0px;
    }
    body #vccs-carousel .carousel ul li{
        width: 100%;
    }
    body #vccs-carousel .carousel{
        width: 100%;
            margin-bottom: 50px;
    }
    .tp-mask-wrap a {
        font-size: 15px !important;
    }
    .disply-none{
        display: none;
    }
    .news-sec-back {
        padding: 90px 0 0;
    }
}
@media screen and (max-width: 480px){
    .archive-posts-list{
        width: 100%;
    }
}